body{font-family: cursive;
    background-image:url(WhatsApp\ Image\ 2025-02-09\ at\ 1.11.11\ AM.jpeg)

    ; background-repeat: repeat
    ; font-size: x-large;

    
}
img{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
 outline: 2%;
 outline-color: #1c0808;
}






